.formSection {
    margin: 0 auto;
}

.title {
    margin: 25px 0 20 0;
    font-size: 22px;
}

.form {
    display: flex;
    flex-direction: column;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    height: 90px;
}

.input {
    height: 24px;
    font-size: 16px;
    width: 290px;
    box-sizing: border-box;
    padding: 4px;
    border: 1px solid black;
    border-radius: 4px;
}

.input:focus {
    outline: none;
}

.errorInput {
    border: 1px solid red;
}

.errorMessage {
    margin: 0;
    font-size: 12px;
    position: absolute;
    top: 50px;
    color: red;
}

.container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.button {
    height: 40px;
    width: 140px;
    padding: 5px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid #cfcfcf;
}

.button:hover {
    opacity: 0.7;
}

.buttonText {
    margin: 0;
}

.payButton {
    background-color: rgb(226, 255, 255);
}

.backButton {
    background: white;
}

.errorButton {
    cursor: default;
    background: rgb(221, 221, 221);
}

.errorButton:hover {
    opacity: 1;
}

.container {
    margin-top: 40px;
}